body {
  background-image: url("file:///Users/louis/Development/wdi-project-1/img/wood-table-bg.jpg");
  background-color: #B8860B;
  text-align: center;
  font-family: sans-serif;
}
main {
  width: 416px;
  height: 416px;
  margin: 0 auto;
  background-color: rgb(64, 85, 34);
}
.box {
  margin: 0 0 -4px 0;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
}
.B {
  background-color: black;
}
.W {
  background-color: white;
}
.scoreLeft, .scoreRight {
  display: inline-block;
  width: 200px;
  margin: 20px 10px 0 10px;
  border: 1px solid black;
  border-radius: 10px;
}
