body {
  background-image: url("/Users/louis/Development/wdi-project-1/img/wood-table-bg.jpg");
  background-color: #B8860B;
  text-shadow: 1px 1px grey;
  text-align: center;
  font-family: sans-serif;
}
/*p {
  color: white;
  text-shadow: 2px 2px black;
}*/
main {
  width: 416px;
  height: 416px;
  margin: 0 auto 10px auto;
  background-color: rgb(64, 85, 34);
  border: 3px solid rgb(60,40,20);
  border-radius: 10px;
}
footer {

  color: white;
  text-align: center;

}
.box {
  /*margin: 0 0 -4px 0;*/
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}
.N:hover {
  background-color: rgba(40, 50, 20, 0.8);
}
.instr {
  color: white;
}
.scoreLeft, .scoreRight {
  display: inline-block;
  width: 195px;
  margin: 20px 10px 0 10px;
  background-color: rgb(64, 85, 34);
  border: 3px solid rgb(60,40,20);
  border-radius: 10px;
}
.scoreLeft, .B {
  background-color: black;
  color: white;
  text-shadow: 2px 2px black;
}
.scoreRight, .W {
  background-color: white;
  color: black;
}
.scoreLeft {
  background-color: rgba(0,0,0,0.7);
}
.scoreRight {
  background-color: rgba(255,255,255,0.7);
}
.welcome {
  padding-top: 50px;
  width: 424px;
  height: 424px;
  margin: 0 auto;
  background-image: url("/Users/louis/Development/wdi-project-1/img/board.png");
  background-repeat: no-repeat;
}
.modeBtn {
  display: inline-block;
  padding: 22px;
  margin: 20px;
  width: 150px;
  /*height: 50px;*/
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.7);
  border: 2px solid black;
  border-radius: 10px;
}
/*#pvp, #pvc, #cvc {
  padding-top: 10px;
  padding-bottom: -10px;
}*/
.modeBtn:hover {
  background-color: rgb(255,255,255);
}
@media screen and (max-width: 500px) {
  main {
    width: 369px;
    height: 369px;
  }
  .box {
    width: 44px;
    height: 44px;
  }
  .scoreLeft, .scoreRight {
    width: 166px;
  }
}
